<header class="encabezado">
    <h1 class = "titulo"> Menu</h1>
</header>
<form>
<nav class="main-nav">
    
    <div class="container container--flex">
        <ul class="menu" id="menu">
            <li class="menu__item"><a href="" class="menu__link ">Ir a la pagina web</a></li>
            <li class="menu__item"><a href="products" class="menu__link">Ingresar productos</a></li>
            <li class="menu__item"><a href="map-admi" class="menu__link">Entrar a mapa</a></li>
            <li class="menu__item"><a href="vendedores" class="menu__link">Entrar a Vendedores</a></li>
        
        </ul>
    </div>
</nav>
</form>