@import url('https://fonts.googleapis.com/css?family=PT+Serif|Pacifico|ZCOOL+XiaoWei&display=swap');
.titulo-pago{
    text-align: center;
    color: rgb(71, 0, 0);
    font-size: 2.5em;
    margin-bottom: 20px;
}
.pago{
    align-content: center;
    padding: 5px;
}
.pago-tarjeta{
    align-content: center;
}
.botonpago{
    margin-left:670px;
    height: 30px;
    width: 60px;
    margin-top: 10px;
    background: rgb(71, 0, 0);
    color: gainsboro;
}
.field{
    padding-left: 450px;
    padding-right: 450px;
    margin-bottom: 20px;
}
.nombre{
    margin-left: 600px;
    height: 25px;
    widows: 100px;
    margin-bottom: 20px;
    color: rgb(85, 0, 0);
}
.imagen{
    max-height: 400px;
    align-content: center;
}