<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Items Mascotas|Blitz Market</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <header class="main-header">
        <div class="container container--flex">
            <div class="logo-container column column--50">
                <h1 class="logo">Blitz Market</h1>
            </div>
            <div class="main-header__contactInfo column column--100">
                <div class="main-header__Info__ubicacion">
                    <span class="icon-ubicacion">Blanco Galindo esq. Peru</span>
                </div>
            </div>
        </div>
    </header>
    <nav class="main-nav">
    
        <div class="container container--flex">
            <ul class="menu" id="menu">
                <li class="menu__item"><a href="" class="menu__link ">Inicio</a></li>
                <li class="menu__item"><a href="limpiezahogar" class="menu__link">Limpieza del Hogar</a></li>
                <li class="menu__item"><a href="higienepersonal" class="menu__link">Higiene Personal</a></li>
                <li class="menu__item"><a href="lacteos" class="menu__link ">Lacteos</a></li>
                <li class="menu__item"><a href="frutasyverduras" class="menu__link ">Frutas y Verduras</a></li>
                <li class="menu__item"><a href="bebidas" class="menu__link ">Refrescos y Bebidas</a></li>
                <li class="menu__item"><a href="itemsmascotas" class="menu__link menu__link--select">Items para Mascotas</a></li>
            </ul>
        </div>
    </nav>
    <section class="banner">
        <img src="https://image.posta.com.mx/sites/default/files/perro-y-gato-durmiendo-petsonic.jpg" alt="Banner" class="banner__img">
        <div class="banner__content">Items para Mascotas</div>
    </section>
    <hr>
    <section class="container1 content-section">
        <h2 class="section-header">Productos</h2>
        <div class="todos-productos">
            <div class="productos"> 
                <span class="productos-titulo">Mochila para gato</span>
                <img class="productos-imagen" src="https://images-na.ssl-images-amazon.com/images/I/412LVfh%2ByqL._SX466_.jpg">
                <div class="productos-detalles">
                    <span class="productos-precio">150 Bs</span>
                    <button class="boton boton-primario" role="button">Comprar</button>
                </div>
            </div>
            <div class="productos"> 
                <span class="productos-titulo">Cama para perro</span>
                <img class="productos-imagen" src="https://images-na.ssl-images-amazon.com/images/I/71HNX90ih%2BL._SX466_.jpg">
                <div class="productos-detalles">
                    <span class="productos-precio">40 Bs</span>
                    <button class="boton boton-primario" role="button">Comprar</button>
                </div>
            </div>
            <div class="productos">  
                <span class="productos-titulo">Juguete para perro</span>
                <img class="productos-imagen" src="http://www.koaladoo.com/626-large_default/juguete-para-perro-caucho-natural-redondo-porta-snacks.jpg">
                <div class="productos-detalles">
                    <span class="productos-precio">40 Bs</span>
                    <button class="boton boton-primario" role="button">Comprar</button>
                </div>
            </div>
            <div class="productos"> 
                <span class="productos-titulo">Arena SuperMix 7.5K</span>
                <img class="productos-imagen" src="https://sodimac.scene7.com/is/image/SodimacCL/1299344?$producto310$">
                <div class="productos-detalles">
                    <span class="productos-precio">100 Bs</span>
                    <button class="boton boton-primario" role="button">Comprar</button>
                </div>
            </div>
            <div class="productos"> 
                <span class="productos-titulo">Ultima 7.5K</span>
                <img class="productos-imagen" src="https://images-na.ssl-images-amazon.com/images/I/81qvwhxQxyL._SX466_.jpg">
                <div class="productos-detalles">
                    <span class="productos-precio">135 Bs</span>
                    <button class="boton boton-primario" role="button">Comprar</button>
                </div>
            </div>    
        </div>
    </section>
    <hr>
    <section class="container1 content-section">
        <h2 class="section-header">Productos elegidos</h2>
        <div class="carrito-fila">
            <span class="producto-carrito carrito-header carrito-columna">Producto</span>
            <span class="precio-carrito carrito-header carrito-columna">Precio</span>
            <span class="cantidad-carrito carrito-header carrito-columna">Cantidad</span>
        </div>
        <div class="carrito-items">
            <div class="carrito-fila">
                <div class="producto-carrito carrito-columna">
                    <img class="producto-carrito-img" src="https://sodimac.scene7.com/is/image/SodimacCL/1299344?$producto310$" >
                    <span class="producto-carrito-titulo">Arena SuperMix 7.5K</span>
                </div>
                <span class="precio-carrito carrito-columna">100 Bs</span>
                <div class="cantidad-carrito carrito-columna">
                    <input class="cantidad-carrito-input" type="number" value="1">
                    <button class="boton boton-danger" role="button">Quitar</button>
                </div>
            </div>
            <div class="carrito-fila">
                <div class="producto-carrito carrito-columna">
                    <img class="producto-carrito-img" src="http://www.koaladoo.com/626-large_default/juguete-para-perro-caucho-natural-redondo-porta-snacks.jpg" >
                    <span class="producto-carrito-titulo">Juguete para perro</span>
                </div>
                <span class="precio-carrito carrito-columna">40 Bs</span>
                <div class="cantidad-carrito carrito-columna">
                    <input class="cantidad-carrito-input" type="number" value="2">
                    <button class="boton boton-danger" role="button">Quitar</button>
                </div>
            </div>
        </div>
            <hr>
            <div class="carrito-preciotot">
                <strong class="carrito-preciotot-titulo">Precio Total</strong>
                <span class="carrito-preciotot-precio">180 Bs.</span>
            </div>
                <button routerLink="/pagos" class=" boton boton-primario boton-compra" role="button">Realizar Compra</button>
    </section>
   
</body>
</html>