
<header class="main-header">
    <div class="container container--flex">
        <div class="logo-container column column--50">
            <h1 class="logo">Blitz Market</h1>
        </div>
    </div>
</header>
    <div>
        <h2 class= "titulo-login">BIENVENIDO ADMINISTRADOR</h2>
    </div>
    <form>
        <div class ="container-login">
            <div class = "input">
                <label class="titulo">Username</label>
                <br>
                <input type= "text" name="username" [(ngModel)]= "username" class="input-log">
            </div>
            <div class = "input">
                <label class="titulo">Password</label>
                <br>
                <input type= "password" name="password" [(ngModel)]= "password" class="input-log">
            </div>
            <!--<div class= "input">
                <input type= "submit" value= "Login" (click) = "LoginUser()">
            </div>-->
            <div class = "input">
                <ul class="login">
                    <li class="ingreso"><a href="/pagina-admin" class="boton--select">INGRESAR</a></li>
                </ul>
            </div>
        </div>

    </form>