<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Mapa</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
</ion-header>

<ion-content>
    <div class="Mapa">
      <ul>
          <a href="map.html" target="formularios">Enlace</a>
      </ul>
    </div>
    <div class="tab2">
        <h2>Div de contenido, aqui se mostraran las paginas HTML</h2>
        <iframe src="tab2.page.html" style="width: 90%; height: 80%" name="formularios"></iframe>
        </div>
</ion-content>