<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button size="large" color="danger" routerLink="/">Home</ion-button>

  <ion-card class="welcome-card">
    <img src="https://i.pinimg.com/originals/95/4b/d1/954bd1a7ba2d483403c1b509c8503ea9.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>El mejor Market </ion-card-subtitle>
      <ion-card-title>BlitzMarket</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>La aplicacion movil fue desarrollada para los distintos distribuidores de la empresa.</p>
      <p>A traves de esta apliacion el distribuidor puede ver los trabajos que le toca realizar y ademas podra ver la ubicacion del cliente.</p>
      <p>by Grupo Blitz Programming</p>
    </ion-card-content>
  </ion-card>

</ion-content>
